
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


$primary: hsl(14,  100%, 53%);
//$link: $blue;
//$info: $cyan;
//$success: $green;
//$warning: $yellow;
//$danger: $red;
//$dark: $grey-darker;
//$text: $grey-dark;

// Variables
@import "bulma";

.hero.is-success {
  background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.box {
  margin-top: 5rem;
}
.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}